{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if is_students %} <!--  Start if course students -->
<!-- Upload Users -->
<div id="accordian-upload" class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#upload_users_csv">
            {% trans 'Upload Users' %} <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<div id="upload_users_csv" class="collapse hide" data-parent="#accordion-upload">
    <div class="card-body">
        <form id="upload_users" action="{% url 'yaksh:upload_users' course.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="csv_file" id="upload"/>
                <label class="custom-file-label" for="upload">{% trans 'Choose file' %}</label>
            </div>
            <br><br>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa fa-upload"></i>
                    {% trans 'Upload' %}
                </button>
            </div>
        </form>
        <hr>
        <p>
            {% trans '- The uploaded csv should have headers exactly same as mentioned below:' %}<br />
        <b>{% trans 'firstname, lastname, email, username, password, institute, roll_no, department,' %}
            {% trans 'remove' %}</b><br />
            {% trans '- Mandatory fields are' %} <b> {% trans 'firstname, lastname and email.' %}' </b><br />
            {% trans '- Other fields are optional.' %}' <br />
            {% trans '- If username and password are not provided then' %}
        <b>{% trans 'Users created will have username and password same as their email' %}</b>
        </p>
        <p>
        <b> {% trans 'Click' %}
        <a class="btn btn-success" href="{% url 'yaksh:download_sample_csv' %}">
        here
        </a> {% trans 'to download a sample CSV, edit and upload it' %}</b>
        </p>
    </div>
</div>
<!-- End Upload users -->
<br>
<!-- Requested Students -->
<div id="accordian-request" class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#requested">
            {% trans 'Requested Students' %} <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<div id="requested" class="collapse show" data-parent="#accordion-request">
    {% if requested_users %}
        <br>
        <input type="checkbox" class="checkall"/> {% trans 'Select all' %}
        <div id="enroll-all">
            <form action="{% url 'yaksh:enroll_reject_user' course.id %}" method="post">
                {% csrf_token %}
                <div class="card">
                    {% if requested_users|length > 10 %}
                    <div class="table-responsive" style="height: 700px">
                    {% else %}
                    <div class="table-responsive">
                    {% endif %}
                <table id="requested_table" class="table table-responsive-sm table-dark course-detail" data-sortlist="[1,0]">
                    <thead class="thead-dark">
                        <th></th>
                        <th>{% trans 'Full Name' %} <i class="fa fa-sort"></i></th>
                        <th>{% trans 'Email' %} <i class="fa fa-sort"></i></th>
                        <th>{% trans 'Roll Number' %} <i class="fa fa-sort"></i></th>
                        <th>{% trans 'Institute' %} <i class="fa fa-sort"></i></th>
                        <th>{% trans 'Department' %} <i class="fa fa-sort"></i></th>
                        <th>{% trans 'Enroll/Reject' %}</th>
                    </thead>
                    <tbody class="list">
                        {% for user in requested_users %}
                        <tr>
                        <td>
                            {{ forloop.counter }}.
                            <input type="checkbox" name="check" value="{{ user.id }}">
                        </td>
                        <td>{{user.get_full_name}}</td>
                        <td> {{user.email}}</td>
                        {% with user.profile as user_profile %}
                            <td> {{user_profile.roll_number}}</td>
                            <td> {{user_profile.institute}}</td>
                            <td> {{user_profile.department}}</td>
                        {% endwith %}
                        <td>
                            <a class="btn btn-success" href="{% url 'yaksh:enroll_user' course.id user.id %}">
                                <i class="fa fa-plus-square"></i>
                                {% trans 'Enroll ' %}'
                            </a>
                            <a class="btn btn-danger" href="{% url 'yaksh:reject_user' course.id user.id %}">
                                <i class="fa fa-minus-square"></i> 
                                {% trans 'Reject ' %}
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                <button class="btn btn-danger" type="submit" name="reject">
                    <i class="fa fa-minus-square"></i>&nbsp;{% trans 'Reject selected' %}
                </button>
                <button class="btn btn-success" type="submit" name="enroll">
                    <i class="fa fa-plus-square"></i>&nbsp;{% trans 'Enroll selected' %}
                </button>
            </form>                                   
        </div>
    {% else %}
        <center>
            <span class="badge badge-warning"><big> {% trans 'No requests yet' %}</big></span>
        </center>
    {% endif %}
</div>
<!-- End Requested Students -->
<br>
<!-- Enrolled Students -->
<div id="accordian-enrolled" class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#enrolled">
            {% trans 'Enrolled Students' %} <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<div id="enrolled" class="collapse hide" data-parent="#accordion-enrolled">
    {% if enrolled_users %}
        <br>
        <input type="checkbox" class="reject"/> {% trans 'Select all' %}
        <div id="reject">
            <form action="{% url 'yaksh:reject_enrolled_users' course.id %}" method="post" id="reject-form">
                {% csrf_token %}
                <div class="card">
                    {% if enrolled_users|length > 10 %}
                    <div class="table-responsive" style="height: 700px">
                    {% else %}
                    <div class="table-responsive">
                    {% endif %}
                <table id="enrolled_table" class="table table-responsive-sm table-dark" data-sortlist="[1,0]">
                    <thead class="thead-dark">
                    <th></th>
                    <th>{% trans 'Full Name' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Email' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Roll Number' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Institute' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Department' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Reject' %}</th>
                    </thead>
                    <tbody class="list">
                    {% for user in enrolled_users %}
                        <tr>
                        <td>
                            {{ forloop.counter }}.
                            <input type="checkbox" name="check" value="{{ user.id }}">
                        </td>
                        <td> {{ user.get_full_name|title }} </td>
                        <td> {{user.email}}</td>
                        {% with user.profile as user_profile %}
                            <td> {{user_profile.roll_number}}</td>
                            <td> {{user_profile.institute}}</td>
                            <td> {{user_profile.department}}</td>
                        {% endwith %}
                        <td>
                            <a class="btn btn-danger" href="{% url 'yaksh:reject_enrolled_user' course.id user.id %}">
                                <i class="fa fa-minus-square"></i>
                                {% trans 'Reject' %}
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                <button class="btn btn-danger" type="submit" name="reject">
                    <i class="fa fa-minus-square"></i>&nbsp;{% trans 'Reject selected' %}
                </button>
            </form>
        </div>
    {% else %}
        <center>
            <span class="badge badge-warning"><big> {% trans 'No enrolled students yet' %}</big></span>
        </center>
    {% endif %}
</div>
<!-- End Enrolled Students -->

<br>
<!-- Rejected Students -->
<div id="accordian-rejected" class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#rejected">
            {% trans 'Rejected Students' %} <i class="fa fa-angle-down"></i>
        </a>
    </div>
</div>
<div id="rejected" class="collapse hide" data-parent="#accordion-rejected">
    {% if rejected_users %}
    <br>
    <input type="checkbox" class="enroll"/> {% trans 'Select all' %}
    <div id="enroll">
        <form action="{% url 'yaksh:enroll_rejected_users' course.id %}" method="post">
            {% csrf_token %}
            <div class="card">
                {% if rejected_users|length > 10 %}
                <div class="table-responsive" style="height: 700px">
                {% else %}
                <div class="table-responsive">
                {% endif %}
            <table id="rejected_table" class="table table-responsive-sm table-dark course-detail" data-sortlist="[1,0]">
                <thead class="thead-dark">
                    <th></th>
                    <th>{% trans 'Full Name' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Email' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Roll Number' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Institute' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Department' %} <i class="fa fa-sort"></i></th>
                    <th>{% trans 'Enroll' %}</th>
                </thead>
                <tbody class="list">
                    {% for user in rejected_users %}
                        <tr>
                        <td>
                            {{ forloop.counter }}.
                            <input type="checkbox" name="check" value="{{ user.id }}">
                        </td>
                        <td>{{user.get_full_name|title}}</td>
                        <td> {{user.email}}</td>
                        {% with user.profile as user_profile %}
                            <td> {{user_profile.roll_number}}</td>
                            <td> {{user_profile.institute}}</td>
                            <td> {{user_profile.department}}</td>
                        {% endwith %}
                        <td>
                            <a class="btn btn-success" href="{% url 'yaksh:enroll_rejected_user' course.id user.id %}">
                                <i class="fa fa-plus-square"></i>
                                {% trans 'Enroll' %}
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>
            <br>
            <button class="btn btn-success" type="submit" name="enroll">
                <i class="fa fa-plus-square"></i>&nbsp;{% trans 'Enroll selected' %}
            </button>
            <br>                         
        </form>
    </div>
    {% else %}
        <center>
            <span class="badge badge-warning"><big> {% trans 'No rejected students yet' %}</big></span>
        </center>
    {% endif %}  
</div>
<!-- End Rejected Students -->
{% endif %}