{% extends base_template %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{course.name}}: {% trans 'Discussion Forum' %}
{% endblock title %}
{% block content %}
    <div id="wrapper" class="d-flex">
        <div class="container" id="page-content-wrapper">
            <div>
                <h2><center>{{course.name}}</center></h2>
                <center>{% trans 'Discussion Forum' %}</center>
            </div>
            <div class="d-flex p-2 bd-highlight">
                <div class="col-md-4">
                    {% if moderator %}
                        <a href="{% url 'yaksh:course_detail' course.id %}" class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i>&nbsp;{% trans 'Back' %}
                        </a>
                    {% else %}
                        <a href="{% url 'yaksh:course_modules' course.id %}" class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i>&nbsp;{% trans 'Back' %}
                        </a>
                    {% endif %}
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newPostModal">
                        <i class="fa fa-plus-circle"></i>&nbsp;{% trans 'New Post' %}
                    </button>
                </div>
            </div>
           {% if messages %}
                <div>
                  <center>
                      {% for message in messages %}
                          <div class="alert alert-dismissible alert-{{ message.tags }}">
                              <button type="button" class="close" data-dismiss="alert">
                                  <i class="fa fa-close"></i>
                              </button>
                              <strong>{{ message }}</strong>
                          </div>
                      {% endfor %}
                  </center>
               </div>
           {% endif %}
            <!-- Modal -->
            <div id="newPostModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{% trans 'Create a new Post' %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form action="." method="POST" enctype='multipart/form-data'>
                        <div class="form-group">
                            {% csrf_token %}
                            {{form}}
                        </div>
                        <input type="submit" class="btn btn-primary" value="Create Post">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            {% include "yaksh/sidebar.html" %}
            <br>
            {% with objects as posts %}
                {% if posts %}
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <form class="my-2 my-lg-0" action="" method="GET">
                                <div class="input-group">
                                    <input type="search" placeholder="Search Post" name="search_post" class="form-control">
                                    <span class="input-group-append">
                                        <button class="btn btn-outline-info">
                                            <i class="fa fa-search"></i>&nbsp;{% trans 'Search' %}
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-outline-danger" href="{% url 'yaksh:course_forum' course.id %}">
                                <i class="fa fa-times"></i>&nbsp;{% trans 'Clear Search' %}
                            </a>
                        </div>
                    </div>
                    <br>
                    {% include "yaksh/paginator.html" %}
                    <br>
                    <div class="card">
                    {% if posts|length > 10 %}
                    <div class="table-responsive" style="height: 700px">
                    {% else %}
                    <div class="table-responsive">
                    {% endif %}
                    <table id="posts_table" class="table table-responsive-sm">
                        <thead class="thread-inverse thead-light">
                            <tr>
                                <th width="700">{% trans 'Posts' %}</th>
                                <th>{% trans 'Created by' %}</th>
                                <th>{% trans 'Replies' %}</th>
                                <th>{% trans 'Last reply' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for post in posts %}
                                <tr>
                                    <td>
                                        <a href="{% url 'yaksh:post_comments' course.id post.uid %}">{{post.title}}</a>
                                        <small class="text-muted d-block">{{ post.description|truncatewords:10 }}</small>
                                        <small class="text-muted"><strong>{% trans 'Last updated:' %} {{post.modified_at}}</strong></small>
                                    </td>
                                    <td>
                                        {% if post.anonymous %}
                                        {% trans 'Anonymous' %}
                                        {% else %}
                                            {{post.creator.username}}
                                        {% endif %}
                                    </td>
                                    <td>{{post.get_comments_count}}</td>
                                    <td>
                                        {% with post.get_last_comment as last_comment %}
                                            {% if last_comment %}
                                                {{last_comment.creator}}
                                            {% else %}
                                            {% trans 'None' %}
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    <td>
                                        {% if user == course.creator or user in course.get_teachers %}
                                            <small><a href="{% url 'yaksh:hide_post' course.id post.uid %}" class="pull-right fa fa-trash"></i></a></small>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>
                    <br>
                    {% include "yaksh/paginator.html" %}
                {% else %}
                    <center>{% trans 'No discussion posts are there yet. Create one to start discussing.' %}</center>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock content %}
{% block script %}
      <script type="text/javascript" src="{% static 'yaksh/js/mathjax/MathJax.js' %}?config=TeX-MML-AM_CHTML"></script>
      <script type="text/javascript" src="{% static 'yaksh/js/jquery.tablesorter.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'yaksh/js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
      <script type="text/javascript">
        $(document).ready(() => {
            $("#posts_table").tablesorter();
             $(function() {
                tinymce.init({
                    selector: 'textarea#id_description',
                    setup : function(ed) {
                          ed.on('change', function(e) {
                             tinymce.triggerSave();
                          });
                    },
                    max_height: 400,
                    height: 400,
                    plugins: "image code link",
                    convert_urls: false
                });
            });
        });
      </script>
{% endblock script %}