{% load custom_filters %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html>
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/offline.css">
    <title>
        {% block pagetitle %} {{module.name}} {% endblock %}        
    </title>    
</head>
<body>
 <nav class="navbar bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../../index.html">
                <img src="../static/images/yaksh_banner.png" alt="YAKSH">
                </img>
            </a>
        </div>
    </div>
</nav>
<div class="container" style="margin-top:50px">
    <h1>
        <center>
            {% block subtitle %}
                {{course.name}}
            {% endblock %}
        </center>
    </h1>
<hr>
{% block content %}
    <center><h2>{{module.name}}</h2></center>
    <table class="table module">
        <tr>
            <td>
                <h4><strong>{% trans 'Lessons (Click on lesson name to open lesson)' %}
                </strong></h4>
                <ul class="list-group">
                    {% for unit in units %}
                    {% if unit.type == 'lesson' %}
                    <a href="{{unit.lesson.name|replace_spaces}}/{{unit.lesson.name|replace_spaces}}.html" target="_blank" class="list-group-item">
                        {{unit.lesson.name}}
                    </a>
                    {% else %}
                    <a href="{{unit.quiz.description|replace_spaces}}/{{unit.quiz.description|replace_spaces}}.html" target="_blank" class="list-group-item">
                        {{unit.quiz.description}}
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                {{module.html_data|safe}}
            </td>
        </tr>
    </table>
{% endblock %}
</div>
<footer class="footer" id="footer_div">
    <div class="container">
        <p align="center">{% trans 'Developed by FOSSEE group, IIT Bombay' %}</p>
    </div>
</footer>
</body>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://vjs.zencdn.net/6.9.0/video.js"></script>
</html>