{% load custom_filters %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html>
<head>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/offline.css">
    <link rel="stylesheet" href="../../static/css/video-js.css">
    <link rel="stylesheet" href="../../static/css/yakshcustom.css" type="text/css" />

    <title>
            {% block pagetitle %} {{module.name}} {% endblock %}        
    </title>
</head>
<body>
<nav class="navbar bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../static/images/yaksh_banner.png" alt="YAKSH">
                </img>
            </a>
        </div>
    </div>
</nav>
<div class="container" style="margin-top:50px">

    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  {{ module.name }}
                </a>
              </li>
              <div class="sidebar-submenu">
                <ul>
                    <!-- loop -->
                    {% for unit in module.get_learning_units %}
                    {% if unit.type == 'lesson' %}
                      <li class="nav-item">
                        <a class="nav-link {% if unit.lesson.name == lesson.name %}active{% endif %}" href="../{{unit.lesson.name|replace_spaces}}/{{unit.lesson.name|replace_spaces}}.html">
                          {{unit.lesson.name}}
                        </a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link {% if unit.lesson.name == lesson.name %}active{% endif %}" href="../{{unit.quiz.description|replace_spaces}}/{{unit.quiz.description|replace_spaces}}.html">
                          {{unit.quiz.description}}
                        </a>
                      </li>
                    {% endif %}
                    {% endfor %}
                    <!-- End of loop -->
                </ul>
              </div>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="col-md-10">
                <center>
                    <h1>
                        {% block subtitle %}
                            {{course.name}}
                        {% endblock %}
                    </h1>
                <hr>
                </center>
                {% block content %}
                    <center><h2>{{module.name}}</h2></center>
                    <hr>
                    <h3>{{lesson.name}}</h3>
                    {% if lesson.video_file %}
                        <video id="lesson_video" height="500" class="video-js" controls preload="auto" data-setup='{"playbackRates": [0.5, 1, 1.5, 2]}'>
                            <source src="{{lesson.video_file.name|file_title}}">
                        </video>
                    {% endif %}
                    <br>
                    <table class="table">
                        <tr>
                            <td>
                            {{lesson.html_data|safe}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            {% if lesson_files %}
                                <h4><strong>{% trans 'Lesson Files (Click on lesson file to download)' %}'
                                </strong></h4>
                                <ul class="list-group">
                                {% for file in lesson_files %}
                                    <a href="{{file.file.name|file_title}}" class="list-group-item">
                                        {{file.file.name|file_title}}
                                    </a>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4>{% trans 'No files for' %} {{lesson.name}}</h4>
                                    </li>
                                </ul>
                            {% endif %}
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <!-- Change Yaksh TODO -->
                        {% if next_unit.type == 'lesson' %}
                        <a class="btn btn-info" href="../{{next_unit.lesson.name|replace_spaces}}/{{next_unit.lesson.name|replace_spaces}}.html">
                            {% trans 'Next' %}
                        </a>
                        {% else %}
                        <a class="btn btn-info" href="../{{next_unit.quiz.description|replace_spaces}}/{{next_unit.quiz.description|replace_spaces}}.html" target="_blank">
                            {% trans 'Next' %}
                        </a>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </main>
    </div>
    <footer class="footer" id="footer_div">
            <p align="center">{% trans 'Developed by FOSSEE group, IIT Bombay' %}</p>
    </footer>
</div>

</body>
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/video.js"></script>
</html>