{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    {% block title %}
    {% endblock %}
    </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="{% static 'yaksh/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'yaksh/css/custom.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'yaksh/css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'yaksh/css/font-awesome.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'yaksh/css/ontop.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'yaksh/css/plyr.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'yaksh/css/simplemde.min.css' %}">
  <link rel="stylesheet" href="{% static 'yaksh/css/toastr.min.css' %}" />
  <!-- https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.css -->
  <link rel="stylesheet" href="{% static 'yaksh/css/argon.css' %}" />
  <link rel="stylesheet" href="{% static 'yaksh/css/argon.min.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">


  {% block meta %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}

  {% block css %}
  {% endblock %}

 

  <script language="JavaScript" type="text/javascript" src="{% static 'yaksh/js/popper.min.js' %}"></script>
  <script language="JavaScript" type="text/javascript" src="{% static 'yaksh/js/jquery-3.3.1.min.js' %}"></script>
  <script language="JavaScript" type="text/javascript" src="{% static 'yaksh/js/bootstrap.min.js' %}"></script>
  <script language="JavaScript" type="text/javascript" src="{% static 'yaksh/js/wow.min.js' %}"></script>
  <script src="{% static 'yaksh/js/plyr.js' %}"></script>
  <script type="text/javascript" src="{% static 'yaksh/js/simplemde.min.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'yaksh/js/toastr.min.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'yaksh/js/js.cookie.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'yaksh/js/argon.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'yaksh/js/argon.min.js' %}">
  </script>
  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous">
  </script>
 
  <script>
      new WOW().init();
      $(document).ready(function() {
        renderMathInElement(
          document.body,
          {
            delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
            ]
          }
        );
      });
  </script>
  {% block script %}
  {% endblock %}
</head>

<body {% block onload %} {% endblock %} class="yaksh">

  <div id="ontop">
    <div id="state">
      {% trans 'Checking...' %}<img src="{% static 'yaksh/images/check_answer.gif' %}"/>
    </div>
  </div>
  <div id="loader">
    <div id="state1">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">{% trans 'Loading...' %}</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">{% trans 'Loading...' %}</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">{% trans 'Loading...' %}</span>
      </div>
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">{% trans 'Loading...' %}</span>
      </div>
    </div>
  </div>
  
  {% block nav %}
  {% endblock %}
    <div class="base-content">
       <div class="header">
           <h3><center>{% block pagetitle %}{% endblock pagetitle %}</center></h3>
       </div>
       <h4><center>{% block subtitle %}{% endblock %}</center></h4>
       {% block content %}
       {% endblock %}
       <br>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            {% trans 'Developed by FOSSEE group, IIT Bombay' %}
          </div>
          <div class="col">
            {% trans 'Contact: pythonsupport@fossee.in' %}
          </div>
        </div>
      </div>
    </footer>
</body>
</html>

